body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.clear-button {
    cursor: pointer;
}

.clear-button i {
    color: #888;
}

input[type="text"]:focus {
    border-color: #00bcd4; /* Zmień kolor obramowania na akcentowy po skupieniu */
    box-shadow: 0 0 5px rgba(0, 188, 212, 0.5); /* Dodaj lekki cień */
}

input[type="text"]::placeholder {
    color: #ccc; /* Kolor tekstu placeholdera */
    transition: color 0.3s ease; /* Animacja zmiany koloru */
}

input[type="text"]:focus::placeholder {
    color: #aaa; /* Zmień kolor placeholdera po skupieniu */
}

form {
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    position: relative;
    width: calc(100% - 10px);
    /* Szerokość pola tekstowego minus 10 pikseli na margines */
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    /* Pełna szerokość pola tekstowego */
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.clear-button {
    position: absolute;
    right: 10px;
    /* Odległość od prawej krawędzi inputa */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #240c9e;
    font-size: 14px;
}

.clear-button:hover {
    color: #333;
}

button[type="button"] {
    width: 100px;
    /* Szerokość przycisku "Calculate" */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    /* Margines na górze przycisku */
}

.number-line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Dowolna wysokość oś liczbowej */
    position: relative;
    margin-top: 20px; /* Przykładowy margines górny */
}

.number-line::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: translateY(-50%);
}

.number {
    position: absolute;
    font-size: 14px; /* Rozmiar czcionki liczby */
    font-weight: bold;
    width: 30px; /* Szerokość elementu liczby */
    height: 30px; /* Wysokość elementu liczby */
    border-radius: 50%; /* Okrągły kształt */
    background-color: #3498db; /* Kolor tła liczby */
    color: white; /* Kolor tekstu liczby */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Przykładowe style dla canvas */
#numberLineCanvas {
    display: block; /* Ustawienie canvas jako blokowy element */
    margin: 20px auto; /* Marginesy, aby wyśrodkować canvas */
    border: 1px solid #ccc; /* Obramowanie canvas */
    background-color: #f0f0f0; /* Kolor tła canvas */
}

#result {
    font-size: 18px;
}